body{
    background-color:  #F2F3F4;;
}


.container {padding: 2em;
    margin: 4em;
    background-color: #F8F9F9




}

.iziko {
 
    padding-right: 2em;
}

.hope {
 
    padding-right: 2em;
}


.intro {
    display: flex;
    flex-direction: row;
    justify-content:center;

}


.image4 {
    width: 310px;
    padding-right: 2em;


}

table,
td,
 th {
    border: 1px solid black;
    padding: 0.5em;
    border-collapse: collapse;
    text-align: center;
}
.clearfix{
    overflow: auto;
    
}


.image2 {  

    width: 240px;
    padding-left: 5em;

} 


.image1 {  

    width: 50%;
    float: right;
    padding-left: 1.5em;
} 

.language {
    text-align: center;
}

.image3 {
    width: 50%;
    float: right;
    padding-left: 1.5em;
}

.place {padding-top: 1em;
    text-align: center;
}

.image5 {width: 50%;
    float: right;
    padding-left: 1.5em;

}

.city{
    display: flex;
    flex-direction: column;

    
}

.cityText{
    display: flex;
    flex-direction: row; 
}

.heading{
    position:relative; top:112px
}

.history > *{
    flex: 1;
    
}

.history{
    display: flex;
    flex-direction: row;

 
    justify-content:space-around;
    
}


@media (max-width: 780px) {
    .history {
      flex-direction: column;
      margin: 0 auto;
      justify-content:space-around;
    }

    .image3 {
        width: 150px;
        float: left;
        padding-right: 2em;
        padding-left: 0px;

    }

    .image1 {  

        width: 150px;
        float: right;
    } 

    .image5 {width: 150px;
        float: right;
    }

    .cityText{
        display: flex;
        flex-direction: column; 
    }
    
    
    .image4 {

        margin: auto;
        width: 90%;
        padding: 10px;
    
    
    }

    .intro {
        display: flex;
        flex-direction: column;
        
    }

    .image2 {  

        margin: auto;
        width: 50%;
        padding: 10px;
    
    } 

    .heading{
        position:relative; left:0px; top:0px;
   
        text-align: center;
    }
  }
  @media (max-width: 340px){
    .container {padding: 1em;
        margin: 2em;
    }

    
  }

